@model Volvox.Helios.Web.ViewModels.Settings.SettingsIndexViewModel

@{
    ViewData["Title"] = "Settings";
}

<div class="row">
    <div class="col-8 col-md-10">
        <h2>@Model.GuildName</h2>
    </div>
    <div class="col-4 col-md-2">
        @*<div class="position-relative" style="top:50%;transform:translateY(-50%);">
            <span class="badge badge-success bg-volvox d-table ml-auto">4 Users online</span>
        </div>*@
    </div>
</div>
<hr>
<h4 class="mt-4">Modules:</h4>
<div class="row">
    @foreach (var module in Model.Modules)
    {
    <div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
        @{ var isModuleEnabled = await module.IsEnabledForGuild(Model.GuildId); }
        <div class="card h-100 @(isModuleEnabled ? "border-volvox" : "border-gray2")">
            <div>
                <div class="w-100 module-enabled-popover module-version @(isModuleEnabled ? "" : "danger-popover")">
                    v.@module.Version
                </div>

                <div class="w-100 module-enabled-popover @(isModuleEnabled ? "bg-volvox" : "bg-gray2")">
                    <strong>Module @(isModuleEnabled ? "enabled" : "disabled")</strong>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    @module.Name
                    <a style="color: black" class="float-right" asp-controller="Settings" asp-action="@(module.Name.Replace(" ", "") + "Settings")">
                        <i class="fas fa-cog @(isModuleEnabled ? "text-volvox" : "text-gray2")"></i>
                    </a>
                </h5>
                <p class="card-text">@module.Description</p>
            </div>
        </div>
    </div>
    }

    <div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
        <div class="card h-100 border-skyblue">
            <div class="w-100 module-enabled-popover skyblue-popover module-version">
                v. 1.0
            </div>
            <div class="w-100 bg-skyblue module-enabled-popover">
                <strong>0 Polls available</strong>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Poll Manager
                    <a style="color: black" class="float-right" asp-controller="Poll">
                        <i class="fas fa-cog text-skyblue"></i>
                    </a>
                </h5>
                <p class="card-text">Create and view polls.</p>
            </div>
        </div>
    </div>
</div>