@model Volvox.Helios.Web.ViewModels.Settings.SettingsIndexViewModel

@{
    ViewData["Title"] = "Settings";
}

<div class="row pt-5 pb-5 mb-4" style="background: rgba(0,0,0,.4);">
    <div class="container">
        <h1 class="text-center">@Model.GuildName</h1>
        <div class="lines">//</div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var module in Model.Modules)
        {
            <div class="col-md-6 mt-4">
                @{ var isModuleEnabled = await module.IsEnabledForGuild(Model.GuildId); }
                <div class="card h-100 @(isModuleEnabled ? "border-volvox" : "border-gray2")">
                    <div>
                        <div class="w-100 module-enabled-popover module-version @(isModuleEnabled ? "" : "danger-popover")">
                            @module.Name
                        </div>

                        <div class="w-100 module-enabled-popover @(isModuleEnabled ? "bg-volvox" : "bg-gray2")">
                            <span style="right:0;" class="mr-2 position-absolute">v.@module.Version</span>
                            <strong>Module @(isModuleEnabled ? "enabled" : "disabled")</strong>
                        </div>
                    </div>
                    <div class="card-body pt-4 pb-4">
                        <h5 class="card-title mb-0">
                            <a style="color: black" class="float-right" asp-controller="Settings" asp-action="@(module.Name.Replace(" ", "") + "Settings")">
                                <i class="fas fa-cog @(isModuleEnabled ? "text-volvox" : "text-gray2")"></i>
                            </a>
                        </h5>
                        <p class="card-text mr-4">@module.Description</p>
                    </div>
                    <div class="w-100 module-enabled-popover module-version @(isModuleEnabled ? "" : "danger-popover")" style="height: 4px;">&nbsp;</div>
                </div>
            </div>
        }

        <div class="col-md-6 mt-4">
            <div class="card h-100 border-skyblue">
                <div class="w-100 module-enabled-popover skyblue-popover module-version">
                    Poll Manager
                </div>
                <div class="w-100 bg-skyblue module-enabled-popover">
                    <strong>@Model.PollCount Polls</strong>
                </div>
                <div class="card-body pt-4 pb-4">
                    <h5 class="card-title mb-0">
                        <a style="color: black" class="float-right" asp-controller="Poll">
                            <i class="fas fa-cog text-skyblue"></i>
                        </a>
                    </h5>
                    <p class="card-text mr-4">Create and view polls. With the chart feature you have a better view of the polls.</p>
                </div>
                <div class="w-100 module-enabled-popover skyblue-popover module-version" style="height: 4px;">&nbsp;</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('main').css({ marginTop: 0 });
    </script>
}