@model Volvox.Helios.Web.ViewModels.Settings.SettingsIndexViewModel

@{
    ViewData["Title"] = "Settings";
}

<div class="row mt-4">
    <div class="col-10">
        <h2>@Model.GuildName</h2>
    </div>
    <div class="col-2">
        <div class="position-relative" style="top:50%;transform:translateY(-50%);">
            <span class="badge badge-success d-table ml-auto">4 Users online</span>
        </div>
    </div>
</div>
<hr />
<h4>Members:</h4>
<div class="row">
    @for (var i = 0; i < 6; i++)
    {
    <div class="col-2">
        <div class="d-inline-flex rounded border border-secondary pt-2 pb-2 w-100" style="background:#ececec;">
            <img src="https://placeimg.com/32/32" alt="Alternate Text" class="rounded-circle mr-2 position-relative ml-2"
                    style="width:32px;height:32px;top:8px;" />
            <div>
                <p class="mb-0">User @(i + 1)</p>
                <small>Doing action xy</small>
            </div>
        </div>
    </div>
    }
</div>
<h4 class="mt-4">Modules:</h4>
<div class="row mb-5">
    @foreach (var module in Model.Modules)
    {
        <div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
            <div class="card h-100 border-success">
                <!--if module disabled-->
                <!--
                    <div class="card h-100 border-danger">

                        <div>
                            <div class="w-100 module-enabled-popover" style="border-radius: .25rem .25rem 0 0;background: #9e2c14;">
                                v. 1.2.3
                            </div>
                            <div class="w-100 bg-danger module-enabled-popover" style="font-weight: bold;">
                                Module enabled
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                @module.Name
                                <a style="color: black" class="float-right" asp-controller="Settings" asp-action="@(module.Name.Replace(" ", "") + "Settings")">
                                    <i class="fas fa-cog text-danger"></i>
                                </a>
                            </h5>
                            <p class="card-text">@module.Description</p>
                        </div>
                    </div>

                -->

                <div>
                    <div class="w-100 module-enabled-popover" style="border-radius: .25rem .25rem 0 0;background: #008410;">
                        v. 1.2.3
                    </div>
                    <div class="w-100 bg-success module-enabled-popover" style="font-weight: bold;">
                        Module enabled
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        @module.Name
                        <a style="color: black" class="float-right" asp-controller="Settings" asp-action="@(module.Name.Replace(" ", "") + "Settings")">
                            <i class="fas fa-cog text-success"></i>
                        </a>
                    </h5>
                    <p class="card-text">@module.Description</p>
                </div>
            </div>
        </div>
    }

    <div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
        <div class="card h-100" style="border-color: #FFA726;">
            <div class="w-100 bg-warning module-enabled-popover" style="font-weight: bold;">
                0 Polls available
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Poll Manager
                    <a style="color: black" class="float-right" asp-controller="Poll">
                        <i class="fas fa-cog text-warning"></i>
                    </a>
                </h5>
                <p class="card-text">Create and view polls.</p>
            </div>
        </div>
    </div>
</div>

<style>
    .text-warning {
        color: #FFA726 !important;
    }

    .bg-warning {
        background: #FFA726 !important;
    }
</style>