@model Volvox.Helios.Web.ViewModels.Settings.ReminderSettingsViewModel
@{
    ViewData["Title"] = "Remembot Module Settings";
}

<h2>@ViewData["Title"]</h2>
<hr>

<form method="post" class="col-12">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row border border-gray2 rounded">
        <div class="col-md-9 pt-3 pb-3">
            <h4>Remembot Module</h4>
            <p class="mb-0 text-volvox">
                Completely manage all reminders for your bot.
            </p>
        </div>
        <div class="col-md-3 valign">
            <div class="btn-group material-btn-group ml-md-auto mt-md-0 mt-3">
                <label for="enabledBtn" class="btn pr-4 pl-4 module-enabler @(Model.Enabled ? "active" : "disabled")">
                    On
                    <input id="enabledBtn" type="radio" name="Enabled" class="d-none" value="true" @(Model.Enabled ? "checked" : "")>
                </label>
                <label for="disabledBtn" class="btn pr-4 pl-4 module-enabler @(Model.Enabled ? "disabled" : "active")">
                    Off
                    <input id="disabledBtn" type="radio" name="Enabled" class="d-none" value="false" @(Model.Enabled ? "" : "checked")>
                </label>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <span asp-validation-summary="Enabled" class="text-danger"></span>
        <div class="ml-auto">
            <button type="submit" class="btn btn-volvox-outline pr-4 pl-4" style="border-radius:20px;">Save</button>
        </div>
    </div>
</form> 

<div class="row">
    <div class="col-12 mt-4">
        <div class="row mb-4">
            <div class="col-md-9">
                <h3>Reminders</h3>
            </div>
            <div class="col-md-3">
                <a asp-controller="Remembot" asp-action="EditRecurringReminder" class="btn btn-primary d-block">Add Reminder</a>
            </div>
        </div>

        @if (Model.RecurringReminders != null && Model.RecurringReminders.Any())
        {
            <table class="table table-striped table-responsive">
                <colgroup>
                    <col />
                    <col width="100%" />
                    <col />
                    <col />
                </colgroup>
                <thead>
                    <tr>
                        <th>Channel</th>
                        <th>Message</th>
                        <th>Status</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reminder in Model.RecurringReminders)
                    {
                        <tr>
                            <td><span class="badge badge-secondary">#@reminder.ChannelName</span></td>
                            <td id="message">@reminder.Message</td>
                            @if (reminder.IsFaulted)
                            {
                                <td class="text-danger">@reminder.Status</td>
                            }
                            else
                            {
                                <td>@reminder.Status</td>
                            }

                            <td>
                                <a class="text-volvox"
                                   asp-controller="Remembot"
                                   asp-action="EditRecurringReminder"
                                   asp-route-guildId="@Model.GuildId"
                                   asp-route-rid="@reminder.Id">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $('.module-enabler input:not(".active")').click((e) => {
            $(e.currentTarget).parent().parent().find('.active').toggleClass('active disabled');
            $(e.currentTarget).parent().toggleClass('active disabled');
        });

        var msgText = $('#message').text();
        $('#message').html(msgText);
    </script>
}