@model Volvox.Helios.Web.ViewModels.Settings.ReminderSettingsViewModel
@{
    ViewData["Title"] = "Reminder Settings";
}

<h2>Reminder Settings</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div style="display:flex;" class="form-group">
                <label asp-for="Enabled" class="font-size-small small-margin-right"></label>
                <label class="switch" />
                <input asp-for="Enabled" type="checkbox" />
                <div class="slider round"></div>
                <span asp-validation-for="Enabled" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a asp-controller="Settings" asp-action="AddRecurringReminder" class="btn btn-primary">Add Reminder</a>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Remind On</th>
                        <th>Enabled</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reminder in Model.RecurringReminders)
                    {
                        <tr>
                            <td>@reminder.Name</td>

                            <td>@reminder.Recurrence</td>

                            <td>@(reminder.Enabled ? "Yes" : "No")</td>

                            <td>
                                <a class="btn btn-primary"
                                   asp-controller="Settings"
                                   asp-action="EditRecurringReminder"
                                   asp-route-guildId="@Model.GuildId"
                                   asp-route-rid="@reminder.Id">EDIT</a>
                            </td>
                            <td><button type="button" onclick="delete(@reminder.Id)">DEL</button></td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}