@model Volvox.Helios.Web.ViewModels.Settings.StreamerSettingsViewModel
@{
    ViewData["Title"] = "Streamer Module Settings";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="col-12">
                <div class="row border border-gray2 rounded">
                    <div class="col-md-9 pt-3 pb-3">
                        <h4>Streamer Module</h4>
                        <p class="mb-0 text-volvox">
                            Manage stream messages to specific channels and more.
                        </p>
                    </div>
                    <div class="col-md-3 valign">
                        <div class="btn-group material-btn-group ml-md-auto mt-md-0 mt-3">
                            <label for="enabledBtn" class="btn pr-4 pl-4 module-enabler @(Model.Enabled ? "active" : "disabled")">
                                On
                                <input id="enabledBtn" type="radio" name="Enabled" class="d-none" value="true" @(Model.Enabled ? "checked" : "")>
                            </label>
                            <label for="disabledBtn" class="btn pr-4 pl-4 module-enabler @(Model.Enabled ? "disabled" : "active")">
                                Off
                                <input id="disabledBtn" type="radio" name="Enabled" class="d-none" value="false" @(Model.Enabled ? "" : "checked")>
                            </label>
                        </div>
                    </div>

                    @*<div class="col-12">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="hidden" name="ChannelId" />
                            <h4>Stream Announcer</h4>
                            <div class="form-group">
                                <label asp-for="ChannelId"></label>
                                <select asp-for="ChannelId" asp-items="Model.Channels" id="channels" class="form-control"></select>
                                <span asp-validation-for="ChannelId" class="text-danger"></span>
                            </div>
                            <div class="form-check form-group">
                                <input asp-for="ChannelSettings.Enabled" class="form-check-input" />
                                <label asp-for="ChannelSettings.Enabled" class="form-check-label"></label>
                                <span asp-validation-for="ChannelSettings.Enabled" class="text-danger"></span>
                            </div>
                            <div class="form-check form-group">
                                <input asp-for="ChannelSettings.RemoveMessages" class="form-check-input" />
                                <label asp-for="ChannelSettings.RemoveMessages" class="form-check-label"></label>
                                <span asp-validation-for="ChannelSettings.RemoveMessages" class="text-danger"></span>
                            </div>

                            <h4 class="mt-4">Streamer Role</h4>
                            <div class="form-check form-group">
                                <input asp-for="StreamerRoleEnabled" class="form-check-input" />
                                <label asp-for="StreamerRoleEnabled" class="form-check-label"></label>
                                <span asp-validation-for="StreamerRoleEnabled" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RoleId"></label>
                                <select asp-for="RoleId" asp-items="Model.Roles" id="roles" class="form-control"></select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>*@
                </div>

                <div class="row mt-4 border border-gray2 rounded">
                    <div class="col-12 pt-3">
                        <h4>Stream Announcer</h4>
                        <hr />
                        @(Model.ChannelId) | @Model.GuildId | @Model.ChannelSettings.RemoveMessages
                        <label asp-for="ChannelId"></label>
                        <input type="hidden" name="ChannelId" />
                        <div id="selectChannel"></div>
                        <span asp-validation-for="ChannelId" class="text-danger"></span>
                    </div>
                    <div class="col-md-9 pt-3 pb-3">
                        <h4>Enable Channel</h4>
                        <p class="mb-0 text-volvox">
                            Enables the Stream Announcer Channel
                        </p>
                        <span asp-validation-for="ChannelSettings.Enabled" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 valign">
                        <div class="btn-group material-btn-group ml-md-auto mt-md-0 mt-3">
                            <label for="enabledChannelBtn" class="btn pr-4 pl-4 module-enabler @(Model.ChannelSettings.Enabled ? "active" : "disabled")">
                                On
                                <input id="enabledChannelBtn" type="radio" name="ChannelSettings.Enabled" class="d-none" value="true" @(Model.ChannelSettings.Enabled ? "checked" : "")>
                            </label>
                            <label for="disabledChannelBtn" class="btn pr-4 pl-4 module-enabler @(Model.ChannelSettings.Enabled ? "disabled" : "active")">
                                Off
                                <input id="disabledChannelBtn" type="radio" name="ChannelSettings.Enabled" class="d-none" value="false" @(Model.ChannelSettings.Enabled ? "" : "checked")>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-9 pt-3 pb-3">
                        <h4>Remove Messages</h4>
                        <p class="mb-0 text-volvox">
                            Removes the messages on conclusion
                        </p>
                        <span asp-validation-for="ChannelSettings.RemoveMessages" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 valign">
                        <div class="btn-group material-btn-group ml-md-auto mt-md-0 mt-3">
                            <label for="rmEnabledBtn" class="btn pr-4 pl-4 module-enabler @(Model.ChannelSettings.RemoveMessages ? "active" : "disabled")">
                                On
                                <input id="rmEnabledBtn" type="radio" name="ChannelSettings.RemoveMessages" class="d-none" value="true" @(Model.ChannelSettings.RemoveMessages ? "checked" : "")>
                            </label>
                            <label for="rmDisabledBtn" class="btn pr-4 pl-4 module-enabler @(Model.ChannelSettings.RemoveMessages ? "disabled" : "active")">
                                Off
                                <input id="rmDisabledBtn" type="radio" name="ChannelSettings.RemoveMessages" class="d-none" value="false" @(Model.ChannelSettings.RemoveMessages ? "" : "checked")>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 border border-gray2 rounded">
                    <div class="col-12 pt-3">
                        <h4>Streamer Role</h4>
                        <hr />
                        <label asp-for="RoleId"></label>
                        <input type="hidden" name="RoleId" />
                        <div id="selectRole"></div>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                    <div class="col-md-9 pt-3 pb-3">
                        <h4>Role enabled</h4>
                        <p class="mb-0 text-volvox">
                            Enables the streamer role
                        </p>
                        <span asp-validation-for="StreamerRoleEnabled" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 valign">
                        <div class="btn-group material-btn-group ml-md-auto mt-md-0 mt-3">
                            <label for="roleEnabledBtn" class="btn pr-4 pl-4 module-enabler @(Model.StreamerRoleEnabled ? "active" : "disabled")">
                                On
                                <input id="roleEnabledBtn" type="radio" name="StreamerRoleEnabled" class="d-none" value="true" @(Model.StreamerRoleEnabled ? "checked" : "")>
                            </label>
                            <label for="roleDisabledBtn" class="btn pr-4 pl-4 module-enabler @(Model.StreamerRoleEnabled ? "disabled" : "active")">
                                Off
                                <input id="roleDisabledBtn" type="radio" name="StreamerRoleEnabled" class="d-none" value="false" @(Model.StreamerRoleEnabled ? "" : "checked")>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row mt-4">
                        <span asp-validation-summary="Enabled" class="text-danger"></span>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="ml-auto">
                            <button type="submit" class="btn btn-volvox-outline pr-4 pl-4" style="border-radius:20px;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        getChannelSettingsAnnouncer = function(guildId, channelId) {
            const url = `/api/GetChannelSettingsAnnouncer?guildId=${guildId}&channelId=${channelId}`;
            return $.ajax({
                type: 'GET',
                cache: false,
                url: url
            }).done(function(response) {
                return response;
            });
        };

        @*$("#channels").on('change',
            function() {
                const channelId = $('#channels').val();
                const guildId = '@Model.GuildId';

                $.when(getChannelSettingsAnnouncer(guildId, channelId)).done(function(response) {
                    $('#ChannelSettings_Enabled').prop('checked', response.enabled);
                    $('#ChannelSettings_RemoveMessages').prop('checked', response.removeMessages);
                });
            });*@


        var src = '@(Html.Raw(Json.Serialize(Model.Channels)))';
        var selectChannelVal = '@Model.ChannelId';
        if (selectChannelVal == '0')
            selectChannelVal = '@Model.Channels.FirstOrDefault().Value';
        // console.log(JSON.parse(src));
        $('#selectChannel').dxSelectBox({
            dataSource: JSON.parse('@(Html.Raw(Json.Serialize(Model.Channels)))'),
            searchEnabled: true,
            valueExpr: "value",
            displayExpr: "text",
            value: selectChannelVal,
            onInitialized: (e) => {
                $('input[name="ChannelId"]').val(selectChannelVal);
            },
            onValueChanged: (e) => {
                var channelId = e.value;
                var guildId = '@Model.GuildId';

                $.when(getChannelSettingsAnnouncer(guildId, channelId)).done(function (response) {
                    if (response.enabled) {
                        $('#enabledChannelBtn').prop('checked', response.enabled).parent().addClass('active');
                        $('#disabledChannelBtn').prop('checked', !response.enabled).parent().removeClass('active');
                        $('#enabledChannelBtn').prop('checked', response.enabled).parent().removeClass('disabled');
                        $('#disabledChannelBtn').prop('checked', !response.enabled).parent().addClass('disabled');
                    } else {
                        $('#enabledChannelBtn').prop('checked', response.enabled).parent().addClass('disabled');
                        $('#disabledChannelBtn').prop('checked', !response.enabled).parent().removeClass('disabled');
                        $('#enabledChannelBtn').prop('checked', response.enabled).parent().removeClass('active');
                        $('#disabledChannelBtn').prop('checked', !response.enabled).parent().addClass('active');
                    }

                    if (response.removeMessages) {
                        $('#rmEnabledBtn').prop('checked', response.removeMessages).parent().addClass('active');
                        $('#rmDisabledBtn').prop('checked', !response.removeMessages).parent().removeClass('active');
                        $('#rmEnabledBtn').prop('checked', response.removeMessages).parent().removeClass('disabled');
                        $('#rmDisabledBtn').prop('checked', !response.removeMessages).parent().addClass('disabled');
                    } else {
                        $('#rmEnabledBtn').prop('checked', response.removeMessages).parent().addClass('disabled');
                        $('#rmDisabledBtn').prop('checked', !response.removeMessages).parent().removeClass('disabled');
                        $('#rmEnabledBtn').prop('checked', response.removeMessages).parent().removeClass('active');
                        $('#rmDisabledBtn').prop('checked', !response.removeMessages).parent().addClass('active');
                    }

                    console.log(response, 'changed');
                });

                $('input[name="ChannelId"]').val(e.value);
            }
        });


        var selectRoleVal = '@Model.RoleId';
        if (selectRoleVal = '0')
            selectRoleVal = '@Model.Roles.FirstOrDefault().Value';
        $('#selectRole').dxSelectBox({
            dataSource: JSON.parse('@(Html.Raw(Json.Serialize(Model.Roles)))'),
            searchEnabled: true,
            valueExpr: "value",
            displayExpr: "text",
            value: selectRoleVal,
            onInitialized: (e) => {
                $('input[name="RoleId"]').val(selectChannelVal);
            },
            onValueChanged: (e) => {
                $('input[name="RoleId"]').val(e.value);
            }
        });

        $('.module-enabler input:not(".active")').click((e) => {
            $(e.currentTarget).parent().parent().find('.active').toggleClass('active disabled');
            $(e.currentTarget).parent().toggleClass('active disabled');
        });
    </script>
}