@model Volvox.Helios.Web.Models.Moderation.PunishmentModel
@{
    Layout = null;
}

<input type="hidden" asp-for="PunishmentId" value="@Model.PunishmentId" />
<tr>
    <td scope="row">@Model.Index</td>
    <td>@Model.PunishType</td>
    <td>@Model.PunishDuration</td>
    <td>@Model.WarningType</td>
    <td>@Model.WarningThreshold</td>
    <td>@(Model.Role.Where(r => r.Value == $"{Model.RoleId}").FirstOrDefault()?.Text ?? "-")</td>
    <td>
        <div class="material-checkbox text-right">
            <input type="hidden" asp-for="DeletePunishment" value="@Model.DeletePunishment.ToString().ToLower()" />
            <a href="#" onclick="toggleInput(event)">
                <i class="far fa-square"></i>
            </a>
        </div>
    </td>
</tr>
