@using System.Reflection
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="18JHtM67T9ZVSSo1HwwLB5r8lghAxcJba3RRZb3r_Lg" />
    <meta property="og:title" content="Volvox.Helios" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.volvox.tech/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://www.volvox.tech/images/large/volvox-logo.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:description" content="Powerful, modular, web-managed, open-source Discord bot created by a community for communities." />
    <meta name="theme-color" content="#5DCC32">

    <title>@ViewData["Title"] - Volvox.Helios</title>
    <link href="~/css/loader.min.css" rel="stylesheet" />
    <environment include="Development">
        <link rel="stylesheet" href="~/vendor.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/vendor.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha256-EH/CzgoJbNED+gZgymswsIOrM9XhIbdSJ6Hwro09WE4=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/18.2.3/css/dx.common.css" />
        <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/18.2.3/css/dx.light.css" />
    </environment>
    <link rel="icon" type="image/x-icon" href="~/images/small/volvox-logo.png">

    <script>
        window.onload = function () {
            var loader = document.getElementById('preloader');
            //setTimeout(() => {
                
                loader.querySelector('img').classList.add('toggle');
                loader.querySelector('svg').classList.add('toggle');
            //}, 3000);
            setTimeout(() => {
                loader.classList.add('toggled');
            }, 1000)
            setTimeout(() => {
                document.body.style.overflowY = "auto";
                loader.style.display = 'none';
            }, 2000)
        }
    </script>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div id="preloader">
        <div class="loader-anim">
            <div class="bg"></div>
            <div class="content">
                <svg width="198.71" height="223.37" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g>
                        <ellipse ry="40.454548" rx="40.454548" id="svg_3" cy="47.120604" cx="46.627737" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#fff" />
                        <path id="svg_5" d="m103.748952,103.635759c4.545455,-8.181819 6.363637,-19.09091 6.363637,-19.09091c0,0 2.424243,-19.09091 2.311653,-19.393334c0.112589,0.302424 2.233801,-20.606669 2.121212,-20.909091c0.112589,0.302422 4.051984,-13.636973 3.939394,-13.939394c0.11259,0.302421 7.688348,-10.909701 7.575758,-11.212121c0.11259,0.302421 11.021682,-7.576368 10.909091,-7.878788c0.112591,0.30242 9.506531,-3.333944 9.393939,-3.636364c0.112591,0.30242 12.839865,-0.909701 12.727273,-1.212121c0.112592,0.30242 13.445926,4.544844 13.333333,4.242424c0.112593,0.30242 11.627745,8.484239 11.515152,8.181818c0.112594,0.302421 7.991382,12.726664 7.878788,12.424242c0.112594,0.302421 2.233806,15.150907 2.121212,14.848485c0.112594,0.302422 -0.796497,13.029696 -0.796497,13.029696c0,0 -8.484849,13.333334 -8.484849,13.333334c0,0 -11.515152,14.242425 -11.515152,14.242425c0,0 -8.787879,8.787879 -8.787879,8.787879c0,0 -9.69697,11.515152 -9.69697,11.515152c0,0 -6.060606,8.181819 -6.060606,8.181819c0,0 -4.848485,9.69697 -4.961076,9.394543c0.112591,0.302427 -3.220742,12.12061 -3.333333,11.818182c0.112591,0.302428 -1.705591,14.544853 -1.818182,14.242424c0.112591,0.302429 -2.008621,19.69637 -2.121212,19.393939c0.112591,0.30243 -2.311652,16.666067 -2.311652,16.666067c0,0 -5.454546,13.333334 -5.567136,13.030902c0.11259,0.302432 -7.463168,9.393342 -7.575758,9.090909c0.11259,0.302433 -10.190441,6.060009 -10.30303,5.757576c0.112589,0.302433 -7.766199,3.029706 -7.766199,3.029706c0,0 -11.818183,0.606061 -11.93077,0.303628c0.112588,0.302433 -12.917716,-2.72787 -13.030303,-3.030303c0.112587,0.302433 -11.705596,-8.788477 -11.705596,-8.788477c0,0 -8.787879,-13.636364 -8.787879,-13.636364c0,0 -1.515152,-18.181819 -1.515152,-18.181819c0,0 3.939394,-13.939395 3.826808,-14.241824c0.112586,0.302429 13.44592,-17.273329 13.333333,-17.575758c0.112587,0.302428 15.264103,-16.061209 15.264103,-16.061209c0,0 10.000001,-11.818183 10.000001,-11.818183c0,0 0.909091,-2.727273 5.454546,-10.909092z" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#fff" />
                    </g>
                </svg>
                <img src="~/images/small/volvox-logo-light.png" alt="logo" />
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img class="d-inline-block align-top" style="width: 30px; height: 30px" src="/images/small/volvox-logo.png" alt="Volvox.Helios" id="navLogo" />
                Volvox.Helios
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @await Html.PartialAsync("_NavigationPartial")
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="themeToggler">
                            <i class="fas fa-moon active"></i>
                            <i class="fas fa-sun d-none"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link position-relative">
                            <i class="fas fa-newspaper"></i>
                            <div id="changelog-wrapper">
                                <div id="changelog" class="position-relative d-block h-100"></div>
                            </div>
                        </a>
                    </li>
                    @await Html.PartialAsync("_LoginNavigationPartial")
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <main role="main" class="body-content">
        @RenderBody()
    </main>
    <div class="position-relative" style="margin-top: auto;">
        <footer class="col-12 pt-4 pb-4 mt-5">
            <div class="container">
                <div class="col-md-6 text-center mx-auto">
                    <a href="https://github.com/VolvoxCommunity/Volvox.Helios/" class="d-inline-flex footer-icon valign" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://discord.gg/jReSmc3" class="d-inline-flex footer-icon valign" target="_blank">
                        <i class="fab fa-discord"></i>
                    </a>
                    <a href="#" class="d-inline-flex footer-icon valign" target="_blank">
                        <i class="fas fa-hand-holding-usd"></i>
                    </a>
                </div>
                <hr class="border-volvox col-md-6 mt-4">
                <p class="mb-0 text-center">
                    @{ var version = Assembly.GetEntryAssembly().GetName().Version; }
                    &copy; @DateTime.Now.Year - Volvox.Helios v@(version.Major).@(version.Minor).@(version.Build)
                </p>
            </div>
        </footer>
        <footer class="col-12 pt-1 pb-1 text-volvox text-center bg-volvox"></footer>
    </div>

    <environment include="Development">
        <script src="~/vendor.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/vendor.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"
                integrity="sha256-c4gVE6fn+JRKMRvqjoDp+tlG4laudNYrXI1GncbfAYY="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                asp-fallback-src="~/vendor.min.js"
                crossorigin="anonymous"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/vendor.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/18.2.3/js/dx.all.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    <script>
        // Headway ChangeLog
        var HW_config = {
            selector: "#changelog",
            account: "7q0G0x"
        };
    </script>
    <script async src="https://cdn.headwayapp.co/widget.js"></script>
</body>
</html>
