@model Volvox.Helios.Web.ViewModels.Dashboard.DashboardDetailsViewModel

@{
    ViewData["Title"] = Model.Guild.Name;
}

<partial name="./Partials/_DashboardHeader" model="@Model.UserGuilds.Select(g => g.Guild)" />
<div class="container">
    <div class="card mt-4">
        <div class="card-img-top d-flex align-items-center bg-gray pt-2 pb-2">
            <img class="card-img-top ml-3 dashboard-guild-image" src="@Model.Guild.ImageUrl" alt="@Model.Guild.Name">
            <h5 class="col mb-0 card-title text-volvox">@Model.Guild.Name</h5>
            @if (Model.Guild.Details.IsBotInGuild)
            {
                <a class="text-volvox mr-3" asp-controller="Settings" asp-action="Index" asp-route-guildId="@Model.Guild.Id">
                    <i class="fas fa-cog"></i>
                </a>
            }
        </div>
        <div class="card-body">
            <p class="card-text">
                <partial name="./Partials/_DashboardCard" model="@Model.Guild" />
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('main').css({ marginTop: 0 });
    </script>
}