@model Volvox.Helios.Web.ViewModels.Dashboard.DashboardDetailsViewModel

@{
    ViewData["Title"] = Model.Guild.Name;
}

<partial name="./Partials/_DashboardHeader" model="@Model.UserGuilds.Select(g => g.Guild)" />

<div class="card mt-4">
    <div class="card-img-top d-flex align-items-center bg-gray pt-2 pb-2">
        <img class="card-img-top ml-3 dashboard-guild-image" src="@Model.Guild.ImageUrl" alt="@Model.Guild.Name">
        <h5 class="col mb-0 card-title text-volvox">@Model.Guild.Name</h5>
        @if (Model.Guild.Details.IsBotInGuild)
        {
            <a class="text-volvox mr-3" asp-controller="Settings" asp-action="Index" asp-route-guildId="@Model.Guild.Id">
                <i class="fas fa-cog"></i>
            </a>
        }
        @*<a href="#" class="text-volvox mr-2" dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-h ml-auto mr-3"></i>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">
                <i class="fas fa-share mr-2"></i>
                Share
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-pen mr-2"></i>
                Edit
            </a>
            <a class="dropdown-item" href="#" onclick="toggleFavouriteBtn(event);">
                <i class="far fa-star mr-2"></i>
                Favourite
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="#">
                <i class="fas fa-trash-alt mr-2"></i>
                Remove
            </a>
        </div>*@
    </div>
    <div class="card-body">
        <p class="card-text">
            <partial name="./Partials/_DashboardCard" model="@Model.Guild" />
        </p>
    </div>
</div>