@model Volvox.Helios.Web.ViewModels.Dashboard.DashboardIndexViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<partial name="./Partials/_DashboardHeader" model="@Model.UserGuilds.Select(g => g.Guild)" />

@foreach (var userGuild in Model.UserGuilds)
{
    <div class="row home-page-cards">
        <div class="col-sm">
            <div class="card">
                <div class="card-img-top d-flex align-items-center bg-light">
                    <div>
                        <img class="card-img-top" style="width: 64px;" src="@userGuild.Guild.ImageUrl" alt="@userGuild.Guild.Name">
                    </div>
                    <h5 class="col m-0 card-title">@userGuild.Guild.Name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        @if (!userGuild.Guild.Details.IsBotInGuild)
                        {
                            <a asp-controller="Settings" asp-action="Index" asp-route-guildId="@userGuild.Guild.Id"><i class="fas fa-plus"></i> Add Bot to Server</a>
                        }

                        else
                        {
                            @:Member Count: @userGuild.Guild.Details.MemberCount
                        }
                    </p>
                </div>
                @if (userGuild.Guild.Details.IsBotInGuild)
                {
                    <div class="card-footer text-muted">
                        <a class="card-link" asp-action="Details" asp-route-guildId="@userGuild.Guild.Id">
                            <i class="fas fa-info-circle"></i> Info
                        </a>
                        <a class="card-link" asp-controller="Settings" asp-action="Index" asp-route-guildId="@userGuild.Guild.Id">
                            <i class="fas fa-cog"></i> Settings
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}